columnstore-data
dremio-data
extracted-files
mariadb-data
extract-agent/fda_drugs.zip
extract-agent/ema_drugs.xlsx
kylin/
druid/broker_var/    
druid/druid_shared/ 
druid/historical_var/
druid/router_var/
druid/coordinator_var/
druid/middle_var/
mongo/mongo-data
postgres